
	<% content_for :carousel do %>
<!-- 	<div class="row"> -->
<!--	  <div class="span1">
	  </div>-->
<!--	  <div class="span9">-->
	    <div id="main_carousel" class="carousel slide">
	      <ol class="carousel-indicators">
		<li data-target="#main_carousel" data-slide-to="0" class="active"></li>
		<li data-target="#main_carousel" data-slide-to="1"></li>
		<li data-target="#main_carousel" data-slide-to="2"></li>
		<li data-target="#main_carousel" data-slide-to="3"></li>
	      </ol>
	      <div class="carousel-inner">
	      <div class="item active"><%= image_tag("llir.jpg") %>
		<div class="carousel-caption">
		<h4>Living Latin in Rome</h4>
		<p>June 9 - July 14, 2013</p>
		</div>
	      </div>
	      <div class="item"><%= image_tag("hlir.jpg") %>
		<div class="carousel-caption">
		<h4>Living High School Latin in Rome</h4>
		<p>July 1 - July 14, 2013</p>
		</div>
	      </div>
	      <div class="item"><%= image_tag("lgig.jpg") %>
		<div class="carousel-caption">
		<h4>Living Greek in Rome</h4>
		<p>August 11 - August 25, 2013</p>
		</div>
	      </div>
	      <div class="item"><%= image_tag("paris_gargoyle_small.jpg") %>
		<div class="carousel-caption">
		<h4>Living Latin in Paris</h4>
		<p>December 27, 2013 - January 4, 2014</p>
		</div>
	      </div>
	      </div><!-- carousel-inner -->
	      <a class="left carousel-control" href="#main_carousel" data-slide="prev">&lsaquo;</a>
	      <a class="right carousel-control" href="#main_carousel" data-slide="next">&rsaquo;</a>
	    </div><!-- main_carousel -->
<!--	  </div>--><!--/span-->
	  
<!--	  <div class="span3">
	    <div class="well sidebar-nav">
	      <h3>Sidebar</h3>
	      <ul class="nav nav-list">
		<li class="nav-header">Sidebar</li>
		<li><%= link_to "Link1", "#"  %></li>
		<li><%= link_to "Link2", "#"  %></li>
		<li><%= link_to "Link3", "#"  %></li>
	      </ul>-->
<!--	    </div>--><!--/.well -->
<!--	  </div>--><!--/span-->
	  
<!--	</div>--><!--/row-->
	<% end %>
	
	<% content_for :home_lead do %>
        <div class="span1">
        </div><!--/span -->
        <div class="span10">
	    <h1>Hello!</h1>
	    <p class="lead">Welcome to the Paideia Institute home page! Paideia aims to promote the study of the humanities through educational programming in Europe. By ‘humanistic’ PI understands not only the material that is taught, namely those academic disciplines which study the productions of human culture in distinction from the natural or social sciences, but also how that material is presented.
	    </p>
        </div><!--/span -->
	<% end %>

	<div class="span4 home-page-subcontent">
	  <h4 class="home-page-header">Our programs for 2013</h4>
	    <ul>
	      <li>Living Latin in Rome</li>
	      <li>Living High School Latin in Rome</li>
	      <li>Living Greek in Greece</li>
	      <li>Living Latin in Paris</li>
	    </ul>
	</div><!--/span4-->

	<div class="span4 home-page-subcontent">
	  <h4 class="home-page-header">Get Involved!</h4>
	</div><!--/span4-->

	<div class="span4 home-page-subcontent">
	  <h4 class="home-page-header">News and Events</h4>
	</div><!--/span4-->




